<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9Anime</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">

<div class="container"> 
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
        <img src="images/logo.png" alt="9Anime Logo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
        <ul class="nav nav-pills"> 
            <li class="nav-item"><a href="/home" class="nav-link" style="background-color: rgb(243, 8, 235); color: white;" aria-current="page">Home</a></li>  
            <li class="nav-item"><a href="/about" class="nav-link" style= "color: rgb(243, 8, 235)" >About</a></li> 
        </ul> 
    </header> 
</div>


<% if (locals.season) { %>

<div class="container avacado"> 
<h1 class="display-5 fw-bold lh-1 mb-3 "><span><%= season.title %> (<%= season.year %>)</span></h1>
<h4> Coming to your screen this <%= season.season %> <%= season.year%> </h4>
</div>
<div class="container">
    <img src="<%= season.image_url %>" class="d-block mx-lg-auto img-fluid mb-4" alt="Anime Artwork" width="500" height="300" loading="lazy">
</div>
<div class="container px-4 py-1" id="custom-cards">
  <h2 class="pb-2 border-bottom">Anime Synopsis </h2>
</div>
<div class="container banana">
    <p><strong><%= season.synopsis %></strong></p>
</div>

<div class="container px-4 py-1" id="custom-cards">
  <h2 class="pb-2 border-bottom">Details</h2>

    
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark">
        <div class="card-body d-flex flex-column p-4 text-white">
          <h4 class="pt-1 mt-1 mb-4"> <strong>Genres:</strong> <%= season.genres %></h4>
          <p class="card-text mb-auto"><strong> Number of Episodes:</strong> <%= season.episodes %> episodes </p>
          <p class="card-text mb-auto"><strong>Studio: </strong><%= season.studios %></p>
          <p class="card-text mb-auto"><strong>Licensors: </strong><%= season.licensors %></p>
          <p class="card-text mb-auto"><strong>Producers: </strong><%= season.producers %></p>
        </div>
      </div>
</div>
<div class="container">
    <h2 class="pb-2 border-bottom">Trailer</h2>
    <% if (season.trailer) { %>
    <div class="video-container d-flex justify-content-center mb-5 py-5 ">
        <iframe width="700" height="450" src="<%= season.trailer %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <% } else { %>
    <p class="lead">No trailer available for this season.</p>
    <% } %>
<div class="d-flex justify-content-center mb-5">
    <a href="<%= season.myurl %>" class="btn p-3 mt-3" style="background-color: rgb(243, 8, 235); color: white;"><strong>View more details on <%= season.title %></strong></a>
</div>
<% } else { %>
<div class="container">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Anime Not Found</h1>
    <p class="lead">Sorry, we couldn't find the season you were looking for.</p>
</div>
<% } %>
</body>
</html>